@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    background-image: url(img/background.jpg);
    overflow-x: hidden !important;
    font-family: 'Alegreya Sans', sans-serif;
}

.mobile-menu {
    display: none;
}

.menu-drawer {
    display: none;
}

#breads-img {
    display: none;
}

header {
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    text-align: center;
    z-index: 10;
}

#header-inner {
    width: 100%;
    height: 200px;
    text-align: center;
    font-weight: 600;
}

#menu-icon {
    display: hidden;
    width: 40px;
    height: 40px;
    background: url(img/nav.png) center;
}

#company-name {
    color: white;
    font-weight: 1000;
}

#company-name-2 {
    font-size: 14px;
    color: yellowgreen;
    position: relative;
    top: -5px;
    left: 80px;
}

nav {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 25px 20px 0 0;
}

a:hover#menu-icon {
    border-radius: 4% 4% 0 0;
}

ul {
    list-style-type: none;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

nav ul li {
    font-size: 150%;
    display: inline-block;
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: yellowgreen;

}

#homepage-2 {
    height: 400px;
}

#homepage {
    width: 100%;
    height: 100%;
}

#our-story {
    text-align: center;
}

#homepage-title {
    color: white;
    font-size: 4em;
}

#homepage-content {
    color: white;
    width: 80%;
    margin: 0 auto;
    font-size: 1.5em;
    padding-bottom: 100px;
}

.homepage-timeline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto;
}

.image-container {
    width: 40%;
    padding-bottom: 30px;
}

.content-container {
    width: 40%;
    padding-bottom: 30px;
}

.homepage-images {
    width: 100%;
    height: 100%;
}

.content-title {
    text-align: left;
    color: yellowgreen;
    font-size: 3em;
}

.content-p {
    color: white;
    text-align: left;
    font-size: 1.5em;
}

p {
    color: white;
    text-align: center;
}

.social-media-container {
    padding-bottom: 30px;
}

.social-icons {
    font-size: 50px;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}

.social-icons li a {
    color: yellowgreen;
    transition: border 1s;
}

.social-icons li a:hover {
    color: white;
    border-bottom: 1px yellowgreen solid;
}

.footer-content p {
    font-size: 1.5em;
}

/* Mobile */
@media screen and (max-width: 480px) {

    #homepage {
        display: none;
    }

    #homepage-2 {
        background-color: #ffffff !important;
        height: 300px !important;
        width: 400px !important;
        overflow: hidden;
    }

    #breads-img {
        display: block;
    }

    #homepage-content {
        padding-top: 10px;
        font-size: 1.3em;
    }

    .image-container, .content-container {
        width: 80%;
    }

    .image-container {
        padding: 10px 0;
    }

    .content-container {
        /* border: 1px red solid; */
        height: 290px;
        overflow: hidden;
        padding: 10px 10px;
    }

    .content-container .content-p {
        text-overflow: ellipsis;
        /* height: 200px; */
    }

}

/* Mobile + Tablet menu */
@media screen and (max-width: 1023px) {

    #homepage {
        height: 400px;
    }

    header {
        display: none;
    }

    .mobile-menu {
        display: initial;
        height: 50px;
        width: 50px;
        background-color: white !important;
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 10;
    }

    .mobile-menu i {
        font-size: 3em !important;
        position: relative;
    }

    .menu-drawer {
        display: block;
        transition: width 1s;
        width: 0%;
        height: 100vh;
        position: fixed;
        top: 0px;
        background-color: white;
        overflow: hidden;
    }

    .menu-drawer ul {
        list-style: none;
    }

    .menu-drawer li {
        padding: 10px 0;
    }

    .menu-drawer ul li a {
        text-decoration: none;
        color: #000000;
        font-size: 2em;
    }

    .show-drawer {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .image-container {
        width: 70% !important;
    }

    .homepage-images {
        height: 100% !important;
    }

    .content-container {
        width: 70% !important;
    }
}

/* Desktop */
@media screen and (min-width: 1705px) {
    #homepage {
        width: 1705px;
    }
}
